/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

*{
    margin:0;
    padding: 0;
}

body {
    font-family: Poppins;
}

.nav-bar{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}

.nav-bar-logo{
    height: 50px;
    margin: 5px 0px  5px 2%;
}

.nav-bar-ul {
    list-style: none;
    display: flex;
    font-size: large;
}

.nav-bar li a {
    text-decoration: none;
    color: black;
    margin: 0 10px 0 10px;
}

/*Fully working links :D */

.landing {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 500px;
    background-image: url("../images/landing.jpg");
    background-position: 0,0;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 40px;
    color: white;   
}

h1{
    font-size: xxx-large;
    font-weight: 500;
    padding-bottom: 2%;
}

.landing p {
    font-size: x-large;
    font-weight: 400;
}

.whats-on-spotify{
    padding: 75px 0 75px 0;
}

h2 {
    font-size: xx-large;
    text-align: center;
    padding-bottom: 30px;
}

.container h3{
    font-size: x-large;
    padding-bottom: 10px;
    color: rgb(96, 148, 85);
}

.container p {
    font-size: large;
}

.container-of-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.container {
    width: 29%;
}

.container img {
    height: 30%;
    width: 30%;
}

.the-green-section{
    color: white;
    background-color: rgb(96, 148, 85);
    width: 100%;
    padding: 50px 0 50px 0;
    position: relative;
    min-height: 500px;
}

.spotify-icon-white-image{
    position: absolute;
    height: 150px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.the-green-section h2{
    text-decoration: underline;
    text-align: left;
    font-size: xxx-large;
    width: 100%;
}

.flex-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left-half{
    width: 45%;
    margin: 0 0 0 10em;
}

.text-box {
    width: 50%;
    font-size: x-large;
}

.text-box h3{
    padding: 0 0 1em 0;
}

.text-box p{
    padding: 0 0 1em 0;
}

.right-half{
    position: relative;
    width: 45%;
    margin: 0;
}

.spotify-app-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
}